body {
    background-color:whitesmoke;
}

h1{
    font-family: "Helvetica", sans-serif;
    font-weight: 100;
    text-align: center;
    font-size:45px;
    font-style:thin;
    line-height:1.20;
    padding:50px;
    margin-bottom:-50px;
    text-shadow: -1px -1px 0 whitesmoke,
    1px -1px 0 whitesmoke,
    -1px 1px 0 whitesmoke,
    1px 1px 0 whitesmoke;
}

.one {
    text-align:center;
    font-style:inherit;
    text-decoration-style:inherit;
}

.searchbar{
 text-align: center;
}

.search-field {
    height:50px;
    padding:10px;
    border:none;
    border-radius:2;
    outline:none;

}

.location {
    width:650px;
    padding:3px;
}

.smallheader {
    text-align:center;
    font-size:12px;
    font-family:'segoe ui' , sans-serif;
    font-weight: bold;
    margin:25px;
    }

.prefix {
    color: rgba(102,119,136,.5);
    font-weight: 400;
    user-select: none;
    line-height: 1.5em;
    padding: 2px 8px;
    border-radius: 3px;
    background: rgba(241,243,245,.5);
    box-shadow: 0 1px 1px rgba(102,119,136,.25);
    position: relative; left:90px;
}

.imageinbar {
    width:22px;
    height:100px;
    position: absolute; left:1000px;
    bottom:240px;
    top:240px;
    left:1050px;
}

.facebookimg {
    width:14px;
    height:14px;
    position: absolute; 
    top:0px;
    right:150px;
    padding:22px;
}

.twitterimg {
    width:14px;
    height:14px;
    position:absolute;
    top:0px;
    right:115px;
    padding:22px;
}

.arrow {
   width:50px;
   height:50px;
   position: relative;
  top:0px;
  bottom:0px;
}

.flex-container {
    padding:50px;
    margin:50px;
    list-style:none;

    display: -webkit-box;
    display: -moz-box;
    display:-ms-flexbox;
    display: -webkit-flex;
    justify-content:flex-start;
    justify-content: center;


}
    .flex-item {
        background: mediumpurple;
        padding: 6px;
        width: 156px;
        height: 50px;
        margin-top: 10px;
        border-radius:6px;
        display:block;
        color:white;
        align-items:center;
        justify-content:center;
      }



    .flex-container2 {
        background:slategray;
        padding: 6px;
        width: 156px;
        height: 50px;
        margin-top: 10px;
        border-radius:6px;
        display:block;
        color:white;
        align-items:center;
        justify-content: center;
        justify-content: right;
    }